.example-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.leftpanel{
  width: 25%;
}

.rightpanel{
  width: 400px;
}

.example-card{
  width: 250px;
  margin: 10px;
  float: left;
  min-height: 300px;
}

.example-card img{
  padding: 10px;
  height: 150px;
  width: auto;
}

.mat-card-header-text{
  margin: 0;
}

.product-desc{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
